appnope==0.1.0
beautifulsoup4==4.5.3
biopython==1.69
bleach==2.0.0
colour==0.1.4
cycler==0.10.0
Cython==0.25.2
decorator==4.0.11
Django==1.11
echarts-python==0.1.3
entrypoints==0.2.2
fisher==0.1.4
gevent==1.2.1
goatools==0.6.10
greenlet==0.4.12
gseapy==0.8.4
h5py==2.7.0
html5lib==0.999999999
HTSeq==0.7.2
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
jedi==0.10.2
Jinja2==2.9.6
Js2Py==0.44
jsonschema==2.6.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
lxml==3.7.3
MarkupSafe==1.0
matplotlib==2.0.1
mistune==0.7.4
nbconvert==5.1.1
nbformat==4.3.0
networkx==1.11
nose==1.3.7
notebook==5.0.0
numpy==1.12.1
pandas==0.19.2
pandocfilters==1.4.1
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
powerline-status==2.5
prompt-toolkit==1.0.14
psutil==5.2.2
ptyprocess==0.5.1
pyasn1==0.2.3
pydot==1.2.3
Pygments==2.2.0
pyjsparser==2.4.5
PyMySQL==0.7.11
pyparsing==2.2.0
pysam==0.11.1
PySocks==1.6.7
python-dateutil==2.6.0
pytz==2017.2
PyVCF==0.6.8
pyzmq==16.0.2
qtconsole==4.3.0
READemption==0.4.3
requests==2.13.0
rsa==3.4.2
scapy-python3==0.21
scipy==0.19.0
seaborn==0.7.1
simplegeneric==0.8.1
six==1.10.0
snp-pipeline==0.7.0
statsmodels==0.8.0
steampy==0.32
swag==1.1.0
terminado==0.6
testpath==0.3
tornado==4.4.3
traitlets==4.3.2
tzlocal==1.3.2
wcwidth==0.1.7
webencodings==0.5.1
wget==3.2
widgetsnbextension==2.0.0
xlrd==1.0.0
XlsxWriter==0.9.6