<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>just a test</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="test.js" ></script>
</head>
<body style="background-color: aquamarine">
    <div style="background-color:gainsboro; border:solid black; width:300px; padding:20px;">
        Variable Name: <input type="text" id="var_name" value="foo"><br>
        Variable Value: <input type="text" id="var_value" value="bar"><br>
        <button onclick="set_value()">Set Value</button>
    </div>
    <script type="text/Javascript">
    function set_value(){
        var var_name = document.getElementById('var_name').value;
        var var_value = document.getElementById('var_value').value;
        console.log(var_value);
        call_back();
//        var command = var_name + " = '" + var_value + "'";
//        console.log("Executing Command: " + command);
//
//        var kernel = IPython.notebook.kernel;
//        kernel.execute(command);
    }
    </script>
</body>
</html>