.article code{
	background-color: #fddfdd;
	color: #c70000;
	border-radius: 4px;
	font-family: 'Consolas', 'Ubuntu Mono', 'Menlo';
	padding-left: 4px;
	padding-right: 4px;
	font-size: 16px;
}

.article pre{
	background-color: #eeeeee;
	font-family: 'Menlo', 'Ubuntu Mono', 'Consolas', 'PingFang SC';
	font-size: 14px;
}

.article h1{
	font-size: 26px;
	font-family: 'DIN', 'PingFang SC', 'Microsoft YaHei';
	font-weight: bold;
	text-transform: uppercase;
}

.article h2{
	font-size: 22px;
}

.article h3{
	font-size: 16px;
}

.article h4{
	font-size: 15px;
}

.article li{
	font-size: 15px;
	font-family: 'PingFang SC', 'Microsoft YaHei';
}

.article p{
	font-size: 15px;
	font-family: 'PingFang SC', 'Microsoft YaHei';
}

.header .stretch .title{
	font-family: 'Helvetica', 'Microsoft YaHei';
	font-weight: bolder;
}

.backdrop-paper:after{
	margin-left: 269px;
}

.article{
	margin-left: 269px;
}

.drawer{
	font-size: 14px;
}

.project .logo+.name{
	font-size: 15px;
	color: rgba(1, 1, 1, 0.7);
	word-break: break-all;
}

.article .wrapper{
	padding-top: 96px;
}
