<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="js/jquery.qtip.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/cytoscape/2.7.19/cytoscape.js"></script>
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/vivagraph.js"></script>
    <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cose-bilkent/1.6.1/cytoscape-cose-bilkent.js"></script>
    <script src="https://cdn.bootcss.com/qtip2/3.0.3/basic/jquery.qtip.js"></script>
    <script src="js/cytoscape-qtip.js"></script>
    <script src="js/cytoscape-cxtmenu.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <link href="https://cdn.bootcss.com/materialize/0.99.0/css/materialize.css" rel="stylesheet">
    <!--<link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.css" rel="stylesheet">-->
    <script src="https://cdn.bootcss.com/materialize/0.99.0/js/materialize.js"></script>
    <script src="js/main.js"></script>
    <!--<link href="css/main.css" rel="stylesheet">-->
    <title>Card Layout</title>
</head>
<body>
<div class="row">
    <div class="{{ side_padding }}">
        {{ card_content }}
    </div>
</div>
</body>
</html>