
<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.bootcss.com/echarts/3.6.2/echarts.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="../js/materialize.js"></script>

  <link href="../js/jquery.qtip.css" rel="stylesheet">
  <script src="../js/cytoscape.js"></script>
  <script src="../js/vivagraph.js"></script>
  <script src="../js/dagre.min.js"></script>
  <script src="../js/cytoscape-dagre.js"></script>
  <script src="../js/cytoscape-cose-bilkent.js"></script>
  <!--<link href="js/bootstrap.css" rel="stylesheet">-->
  <script src="../js/jquery.qtip.js"></script>
  <script src="../js/cytoscape-qtip.js"></script>
  <script src="../js/cytoscape-cxtmenu.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../css/local.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="background-color: #f6f4f1">
<script type="text/javascript" src="../js/enrichment_display3.js"></script>

<div class="row">
    <div class="col s10 m10 offset-m1 offset-s">
        <div class="card white lighten-1 ">
            <div class="tab-panel card-content" style="background-color: #00acc1">
                <ul class="tabs" id="tab1">
                    <li class="tab col s2"><a class='active tabfont' href="#test1">Table</a></li>
                    <li class="tab col s2"><a class='tabfont' href="#test2">Plot</a></li>
                    <li class="tab col s2"><a class="tabfont" href="#test3">Graph View</a></li>
                    <li class="tab col s6 disabled"><a style="color: black">Gene ontology enrichment</a></li>
                </ul>
            </div>
            <div class="card-content">
                <div class="row" id="test1">
                    <div class="card-content">
                        <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NS</th>
      <th>name</th>
      <th>ratio_in_study</th>
      <th>ratio_in_pop</th>
      <th>p_uncorrected</th>
      <th>p_bonferroni</th>
      <th>p_sidak</th>
      <th>p_holm</th>
      <th>hit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>GO:0003824</th>
      <td>MF</td>
      <td>catalytic activity</td>
      <td>106/276</td>
      <td>7791/33239</td>
      <td>2.700000e-08</td>
      <td>0.000165</td>
      <td>0.000161</td>
      <td>0.000165</td>
      <td>AT1G01560, AT1G02390, AT1G04510, AT1G05680, AT...</td>
    </tr>
    <tr>
      <th>GO:0016740</th>
      <td>MF</td>
      <td>transferase activity</td>
      <td>54/276</td>
      <td>2980/33239</td>
      <td>5.520000e-08</td>
      <td>0.000338</td>
      <td>0.000329</td>
      <td>0.000338</td>
      <td>AT1G01560, AT1G02390, AT1G04510, AT1G05680, AT...</td>
    </tr>
    <tr>
      <th>GO:0140096</th>
      <td>MF</td>
      <td>catalytic activity, acting on a protein</td>
      <td>37/276</td>
      <td>1672/33239</td>
      <td>6.020000e-08</td>
      <td>0.000368</td>
      <td>0.000359</td>
      <td>0.000368</td>
      <td>AT1G01560, AT1G04510, AT1G17770, AT1G23260, AT...</td>
    </tr>
    <tr>
      <th>GO:0036211</th>
      <td>BP</td>
      <td>protein modification process</td>
      <td>33/276</td>
      <td>1727/33239</td>
      <td>8.250000e-06</td>
      <td>0.050500</td>
      <td>0.049200</td>
      <td>0.050400</td>
      <td>AT1G13580, AT1G66610, AT1G66860, AT1G66980, AT...</td>
    </tr>
    <tr>
      <th>GO:0006464</th>
      <td>BP</td>
      <td>cellular protein modification process</td>
      <td>33/276</td>
      <td>1727/33239</td>
      <td>8.250000e-06</td>
      <td>0.050500</td>
      <td>0.049200</td>
      <td>0.050400</td>
      <td>AT1G13580, AT1G66610, AT1G66860, AT1G66980, AT...</td>
    </tr>
    <tr>
      <th>GO:0006468</th>
      <td>BP</td>
      <td>protein phosphorylation</td>
      <td>22/276</td>
      <td>922/33239</td>
      <td>1.080000e-05</td>
      <td>0.066000</td>
      <td>0.064300</td>
      <td>0.065900</td>
      <td>AT1G66980, AT2G29220, AT2G41140, AT2G41970, AT...</td>
    </tr>
    <tr>
      <th>GO:0098599</th>
      <td>MF</td>
      <td>palmitoyl hydrolase activity</td>
      <td>3/276</td>
      <td>7/33239</td>
      <td>1.930000e-05</td>
      <td>0.118000</td>
      <td>0.115000</td>
      <td>0.118000</td>
      <td>AT4G17483, AT5G47330, AT5G47340</td>
    </tr>
    <tr>
      <th>GO:0008474</th>
      <td>MF</td>
      <td>palmitoyl-(protein) hydrolase activity</td>
      <td>3/276</td>
      <td>7/33239</td>
      <td>1.930000e-05</td>
      <td>0.118000</td>
      <td>0.115000</td>
      <td>0.118000</td>
      <td>AT4G17483, AT5G47330, AT5G47340</td>
    </tr>
    <tr>
      <th>GO:0016310</th>
      <td>BP</td>
      <td>phosphorylation</td>
      <td>22/276</td>
      <td>996/33239</td>
      <td>3.470000e-05</td>
      <td>0.212000</td>
      <td>0.207000</td>
      <td>0.212000</td>
      <td>AT1G66980, AT2G29220, AT2G41140, AT2G41970, AT...</td>
    </tr>
    <tr>
      <th>GO:0005839</th>
      <td>CC</td>
      <td>proteasome core complex</td>
      <td>4/276</td>
      <td>23/33239</td>
      <td>3.640000e-05</td>
      <td>0.223000</td>
      <td>0.217000</td>
      <td>0.222000</td>
      <td>AT1G47250, AT1G53850, AT3G14290, AT5G42790</td>
    </tr>
    <tr>
      <th>GO:0043412</th>
      <td>BP</td>
      <td>macromolecule modification</td>
      <td>33/276</td>
      <td>1877/33239</td>
      <td>5.740000e-05</td>
      <td>0.351000</td>
      <td>0.342000</td>
      <td>0.350000</td>
      <td>AT1G13580, AT1G66610, AT1G66860, AT1G66980, AT...</td>
    </tr>
    <tr>
      <th>GO:0019748</th>
      <td>BP</td>
      <td>secondary metabolic process</td>
      <td>9/276</td>
      <td>208/33239</td>
      <td>6.590000e-05</td>
      <td>0.403000</td>
      <td>0.393000</td>
      <td>0.403000</td>
      <td>AT1G17190, AT1G18590, AT1G74090, AT1G78360, AT...</td>
    </tr>
    <tr>
      <th>GO:0008444</th>
      <td>MF</td>
      <td>CDP-diacylglycerol-glycerol-3-phosphate 3-phos...</td>
      <td>2/276</td>
      <td>2/33239</td>
      <td>6.870000e-05</td>
      <td>0.420000</td>
      <td>0.410000</td>
      <td>0.419000</td>
      <td>AT2G39290, AT3G55030</td>
    </tr>
    <tr>
      <th>GO:1901564</th>
      <td>BP</td>
      <td>organonitrogen compound metabolic process</td>
      <td>52/276</td>
      <td>3612/33239</td>
      <td>8.520000e-05</td>
      <td>0.521000</td>
      <td>0.508000</td>
      <td>0.520000</td>
      <td>AT1G09240, AT1G13580, AT1G18590, AT1G47250, AT...</td>
    </tr>
    <tr>
      <th>GO:0009404</th>
      <td>BP</td>
      <td>toxin metabolic process</td>
      <td>5/276</td>
      <td>56/33239</td>
      <td>1.030000e-04</td>
      <td>0.629000</td>
      <td>0.614000</td>
      <td>0.628000</td>
      <td>AT1G17190, AT1G78360, AT1G78370, AT3G26830, AT...</td>
    </tr>
    <tr>
      <th>GO:0016301</th>
      <td>MF</td>
      <td>kinase activity</td>
      <td>25/276</td>
      <td>1311/33239</td>
      <td>1.230000e-04</td>
      <td>0.753000</td>
      <td>0.734000</td>
      <td>0.751000</td>
      <td>AT1G01560, AT1G66980, AT2G29220, AT2G41140, AT...</td>
    </tr>
    <tr>
      <th>GO:0009059</th>
      <td>BP</td>
      <td>macromolecule biosynthetic process</td>
      <td>1/276</td>
      <td>1406/33239</td>
      <td>1.340000e-04</td>
      <td>0.822000</td>
      <td>0.801000</td>
      <td>0.820000</td>
      <td>AT1G74850</td>
    </tr>
    <tr>
      <th>GO:0043167</th>
      <td>MF</td>
      <td>ion binding</td>
      <td>53/276</td>
      <td>4010/33239</td>
      <td>5.580000e-04</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>AT1G07360, AT1G13140, AT1G17770, AT1G30720, AT...</td>
    </tr>
    <tr>
      <th>GO:0019787</th>
      <td>MF</td>
      <td>ubiquitin-like protein transferase activity</td>
      <td>9/276</td>
      <td>272/33239</td>
      <td>4.860000e-04</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>AT1G04510, AT1G23260, AT1G66610, AT1G70660, AT...</td>
    </tr>
    <tr>
      <th>GO:0030410</th>
      <td>MF</td>
      <td>nicotianamine synthase activity</td>
      <td>2/276</td>
      <td>5/33239</td>
      <td>6.760000e-04</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>AT1G09240, AT1G56430</td>
    </tr>
  </tbody>
</table>
                    </div>
                </div>
                <div class="row" id="test2">
                    <div class="col m12 s12">
                        <div style="height: 45vw" id="barplot">

                        </div>
                    </div>
                </div>
                <div class="row" id="test3">
                    <div style="height: 45vw; background-color: #00bfa5" id="graph">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>